<!DOCTYPE HTML>
<html>
  <head>
    <title>Встречи НЛО</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
  <div>
    <button onclick="loadData('main')">Основная таблица</button>
    <button onclick="loadData('query1')">ТОП-10 самых длинных наблюдений НЛО</button>
    <button onclick="loadData('query2')">Вывести все события с 2010 года</button>
    <button onclick="loadData('query3')">Вывести города с наибольшим количеством наблюдений НЛО</button>
    <button onclick="loadData('query4')">Вывести среднюю продолжительность наблюдений по странам</button>
    <button onclick="loadData('query5')">Вывести штаты с наибольшим количеством наблюдений</button>
</div>
    <h3>Встречи НЛО</h3>
    <table>
      <!-- формируем заголовок таблицы (имена столбцов) -->
      <thead>
        <tr>
          <!-- выводим имя каждого столбца -->
            {% for item in buildings_head %}
              <th> {{ item }} </th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
      <!-- для всех строк таблицы -->
        {% for row in buildings_body %}
          <tr>
          <!-- выводим значение каждого столбца -->
            {% for item in row %}
              <td> {{ item }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
    </table>

  <script>
    function loadData(query) {
    let url = '';
    if (query === 'main') url = '/';
    if (query === 'query1') url = '/query1';
    if (query === 'query2') url = '/query2';
    if (query === 'query3') url = '/query3';
    if (query === 'query4') url = '/query4';
    if (query === 'query5') url = '/query5';

    fetch(url)
        .then(response => response.text())
        .then(html => {
            const parser = new DOMParser();
            const newDoc = parser.parseFromString(html, 'text/html');

            // Обновляем только таблицу, а не всю страницу
            document.querySelector('table').innerHTML = newDoc.querySelector('table').innerHTML;
        })
        .catch(error => console.error('Ошибка загрузки данных:', error));
}

    window.onload = () => loadData('main');
</script>
  </body>
</html>