<!DOCTYPE HTML>
<html>
  <head>
    <title>Встречи НЛО</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
  <div>
    <button onclick="loadData('main')">Основная таблица</button>
    <button onclick="loadData('query1')">Запрос 1</button>
    <button onclick="loadData('query2')">Запрос 2</button>
    <button onclick="loadData('query3')">Запрос 3</button>
    <button onclick="loadData('query4')">Запрос 4</button>
    <button onclick="loadData('query5')">Запрос 5</button>
</div>
    <h3>Встречи НЛО</h3>
    <table>
      <!-- формируем заголовок таблицы (имена столбцов) -->
      <thead>
        <tr>
          <!-- выводим имя каждого столбца -->
            {% for item in buildings_head %}
              <th> {{ item }} </th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
      <!-- для всех строк таблицы -->
        {% for row in buildings_body %}
          <tr>
          <!-- выводим значение каждого столбца -->
            {% for item in row %}
              <td> {{ item }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
    </table>

  <script>
    function loadData(query) {
        let url = '';
        if (query === 'main') url = '/index';
        if (query === 'query1') url = '/query1';
        if (query === 'query2') url = '/query2';
        if (query === 'query3') url = '/query3';
        if (query === 'query4') url = '/query4';
        if (query === 'query5') url = '/query5';

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('#data-table tbody');
                tableBody.innerHTML = '';
                data.forEach(event => {
                    const row = `<tr>
                        <td>${event.id}</td>
                        <td>${event.comments}</td>
                        <td>${event.date_posted}</td>
                        <td>${event.duration_seconds}</td>
                        <td>${city.name}</td>
                        <td>${state.name}</td>
                        <td>${country.name}</td>
                    </tr>`;
                    tableBody.innerHTML += row;
                });
            })
            .catch(error => console.error('Error loading data:', error));
    }
    window.onload = () => loadData('main');
</script>
  </body>
</html>